.Screenka{
    height: 100%;
    overflow: auto;
}

.Screenka>h1, .Screenka>h2, .Screenka>h3, .Screenka>h4, .Screenka>footer
{
    margin-left: 10px;
    margin-right: 10px;
}

.Screenka>footer
{
    text-align: center;
}

.Screenka>h4{
    margin-bottom: 10px;
    font-weight: normal;
}

.Screenka .pre-pre-post{
    margin: 50px 0px;
}
