/*CLOSE BUTTON*/

.button-close
{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.button-close>div{
    transform: rotate(45deg);
    font-size: 30px;
    margin-left: 3px;
    margin-top: -3px;
}

/*NEXT BUTTON*/

.button-next
{
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: bold;
}

/*UPLOAD buTTON*/
button.button-upload
{
    padding: 7px 10px;
    border-radius: 10px;
    align-self: center;
    margin: 10px;
    width:113px;

    font-weight: bold;
}
button.button-upload[disabled].bcolor-gray{
    opacity: 1 !important;
  }

/*paste buTTON*/
button.paste
{
    padding: 9px 10px;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    align-self: center;
    font-weight: bold;

    box-shadow: inset 0 0 2px black;
}

/*PAGE*/
.button-page{
    cursor: pointer;
    font-size: 40px !important;
    margin-left: 10px;
    margin-right:10px;
    font-family: 'Advent Pro';
}