.aweek{
    display: flex;
    flex-direction: column;
    
    padding: 15px;
    transition: filter 0.4s ease-in-out;
    will-change:filter;

    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.aweek footer{
    margin-top: auto;
    opacity: 0.5;
}

.aweek .description{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 30px;
    min-height: 20px;
}

.aweek h1>span {margin-left: 10px;font-size: 30px;}

/*calendar*/

.aweek-calendar{
    margin:10px;
    position: relative;
}

.aweek-rows{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.aweek-rows>div{
    display: flex;
    margin-bottom: 10px;
    
}

.aweek-rows *{
    font-size: 20px;
    line-height: 35px;
    font-weight: bold;
}

.aweek-rows .circle{
    width: 34px;
    height: 34px;
    border-radius: 17px;
    margin-left: 10px;
   
    text-align:center;
}

.aweek-calendar>:last-child
{
    position:absolute;
    top:0;
    right: 14px;
    width: 5px;
    height: calc(7*40px);
    z-index: -1;
}


.aweek-blur-dark
{
    filter: blur(2px) brightness(60%);
}