.pre-pre-post {   margin-bottom: 5px;}
.pre-pre-post .nickname , .pre-pre-post .nickname2
{
    display: flex; align-items: center;
}

.pre-pre-post .nickname>* , .pre-pre-post .nickname2>*
{
    margin: 5px;
}

.pre-post{
    border-radius: 20px;/*takie jakie nickname src*/
}
.pre-post .nickname2
{
    padding:10px;
    height: 30px;/*20 + 10*/
    opacity: 1;
    overflow: hidden;
    transition: height 0.5s ease-in-out,opacity 0.3s ease-in-out;
    will-change: height, opacity;
}

.post{
    position: relative;
    border-radius: 20px;/*takie jakie nickname src*/

    padding: 10px;
}

.post .date
{
    position: absolute;
    top:0px;
    right:0px;
    font-size: 15px;
    padding: 0px 10px;
    opacity: 0.2;
}

.post .head
{

    display: flex;
    align-items: center;

    padding: 10px;
}

.post .head>:nth-child(2)
{
    text-align: center;
    width: 100%;
}

.post .pre-body
{
    position: relative;

    overflow: hidden;
    height: 200px;
    transition: height ease-in-out 1s;
    will-change: height;
}

/*MINI POST*/

.mini-post-pre, .mini-post
{
    display: flex;
    align-items: center;
    width: 100%;
}
.mini-post-pre>:first-child{margin: 0px 10px;}

.mini-post{
    position: relative;
    height: 100%;
    overflow: hidden;
    padding:10px 0px;
    box-sizing: border-box;
    border-bottom: 1px rgba(255,255,255, 0.1) solid;
}

.mini-post>*{margin-right: 10px;}

.mini-post .text
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mini-post .text>:last-child
{
    overflow: auto;
    white-space:nowrap;
    display: flex;
    align-items: center;
    height: 100%;
}

.mini-post .infos{
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right:7px;
    margin:0;
    opacity: 0.5;
}
.mini-post .infos>div{ font-size: 20px;margin-left: 5px;}

/*posts*/
.posts{
    display: flex;
    flex-direction: column;
}

.posts h1,.posts h2,.posts h3{
    margin-left: 15px;
}

.posts-list
{
    display:flex;
    flex-direction: column;
}

.posts-list>*{margin-bottom: 10px;}

.post .body{height: 100%; display: flex;flex-direction: column;}

.post .content{
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 10px;
}

.post .content>img{
  height: fit-content;
    
}

.post .context {text-align: center;}