.app-max-mobile{
    width: 100%;
    max-width: 414px;
}

@media screen and (min-width: 700px) {
    .app-max-mobile{
        align-self: center;

        background-color: #262626;
        border-radius: 43px;
        
        padding-top: 53px; /*43+10*/
        padding-bottom: 78px;/*43+35+10(?)*/
        margin: 20px;

        width: 414px;
        height: 765px;/*896-86-35-20?*/
    }

    .app-max-mobile::before{
        display:block;
        content:"";
        width: calc(100%- 20px);
        height: 35px;
        border-radius: 10px;
        background-color: #7c7c7c;

        margin: 0px 10px ;
    }

    .app-max-mobile{ 
        zoom: 0.75; 
    } 
}

@media screen and (max-width: 700px) {
    body{
        background-color: #262626;
    }
    .app-flex-center-v { height: 100%;}
}

.app-flex-center-v
{
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.app-max-mobile>*{
    width: 100%;
    height: 100%;
    position: relative;

    overflow: hidden;
    min-width: 375px;
}
