.uploads{
    display: flex;
    flex-direction: column;
}

.uploads h1,.uploads h2,.uploads h3{
    margin-left: 15px;
}

.uploads .content
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.uploads-legend
{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 20px 5px;
}

.uploads-list
{
    display:flex;
    flex-direction: column;
}